<!doctype html>
<html lang="en-US">

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <title>SHELLIZ INSURANCE EMAIL</title>
        <style type="text/css"> a:hover {
                text-decoration: underline !important;
            }

            .logo-img {
               max-height: 100px;
            }

            a:hover {
                text-decoration: underline !important;
            }

            ul {
                text-align: left;
            }

            .table-payment-summary {
                width: 100%;
                border-top: 2px solid #a2a0a0;
            }
            .table-payment-summary td {
                padding: 10px;
                border-bottom: 1px solid #ededed;
                border-right: 1px solid #ededed;
                font-weight: 500;
                color: #171f23de
            }
            tbody td {
                padding: 10px;
                border-bottom: 1px solid #ededed;
                border-right: 1px solid #ededed;
                font-weight: 500;
                color: #171f23de
            }
            .text-left {
                text-align: left;
            }
        </style>
    </head>

    <body
        marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f8f9;" leftmargin="0">
        <!--100% body table-->
        <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f8f9" style="@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500); font-family: 'Roboto', sans-serif , Arial, Helvetica, sans-serif;">
            <tr>
                <td>
                    <table style="background-color: #f2f8f9; max-width:670px; margin:0 auto;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="height:20px;">&nbsp;</td>
                        </tr>
                        
                        <tr>
                            <td>
                                <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width:670px; background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12)">
                                    <tr>
                                        <td style="height:40px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 15px;" colspan="2">
                                            <h3 style="color:#3075BA; font-weight:400; margin:0;font-size:32px;">SHELLIZ INSURANCE OTP</h3>
                                            <p style="font-size:15px; color:#171f23de; margin:8px 0 0; line-height:24px;text-align:left">
                                               Hello {{client_name}},<br><br>Kindly use <span style="color:blue">{{otp}}</span> as your OTP
                                            </p>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">
                                <p style="font-size:14px; color:#455056bd; line-height:18px; margin:0 0 0;">Yours Faithfully, 
                                    <br>SHELLIZ INSURANCE CLUB</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--/100% body table-->
    </body>

</html>
