<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div class="">
			<a href="/admin-dash" target="_blank"><img src="{{ asset('resources/portal/images/logo-icon.png') }}" class="logo-icon-2" alt="" /></a>
		</div>
		<div>
			<h4 class="logo-text">Self-Service</h4>
		</div>
		<a href="javascript:;" class="ml-auto toggle-btn">
			<i class="bx bx-menu"></i>
		</a>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon">
					<i class="bx bx-home-alt"></i>
				</div>
				<div class="menu-title">Dashboard</div>
			</a>
			<ul>
				<li><a href="/admin-dash"><i class="bx bx-right-arrow-alt"></i>Home</a></li>
			</ul>
		</li>


		<li class="menu-label">Users</li>
		<li>
			<a href="/admin-vw-clients">
				<div class="parent-icon">
					<i class='bx bxs-user-detail'></i>
				</div>
				<div class="menu-title">Clients</div>
			</a>
		</li>
		<li>
			<a href="/admin-vw-trainers">
				<div class="parent-icon">
					<i class='bx bxs-user-detail'></i>
				</div>
				<div class="menu-title">Trainers</div>
			</a>
		</li>
		<li>
			<a href="/admin-vw-new-trainers">
				<div class="parent-icon">
					<i class='bx bxs-user-check'></i>
				</div>
				<div class="menu-title">New Trainers</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="parent-icon">
					<i class='bx bxs-school'></i>
				</div>
				<div class="menu-title">Schools</div>
			</a>
		</li>

		<li class="menu-label">Events</li>
		<li>
			<a href="/admin-vw-create-event">
				<div class="parent-icon">
					<i class='bx bxs-calendar-plus'></i>
				</div>
				<div class="menu-title">New event</div>
			</a>
		</li>
		<li>
			<a href="/admin-vw-all-sessions">
				<div class="parent-icon">
					<i class='bx bx-list-ol'></i>
				</div>
				<div class="menu-title">All events</div>
			</a>
		</li>
		<!--<li>
						            <a href="/admin-vw-ongoing-sessions">
						                <div class="parent-icon"><i class='bx bx-customize' ></i>
						                </div>
						                <div class="menu-title">Ongoing events</div>
						            </a>
						        </li>-->

		<li>
			<a href="/admin-vw-complete-sessions">
				<div class="parent-icon">
					<i class='bx bxs-calendar-check'></i>
				</div>
				<div class="menu-title">Complete events</div>
			</a>
		</li>

		<li class="menu-label">CMS</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-file"></i>
				</div>
				<div class="menu-title">Blog</div>
			</a>
			<ul>
				<li><a href="/admin-vw-create-blog"><i class="bx bx-right-arrow-alt"></i>New Blog</a></li>
				<li><a href="/admin-vw-create-pdf-blog"><i class="bx bx-right-arrow-alt"></i>New Pdf Blog</a></li>
				<li><a href="/admin-vw-blog-list"><i class="bx bx-right-arrow-alt"></i>Blog List</a></li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-file"></i>
				</div>
				<div class="menu-title">Opportunities</div>
			</a>
			<ul>
				<li>
					<a href="/admin-vw-new-opportunity">
						<i class="bx bx-right-arrow-alt"></i>New Opportunity</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="/admin-vw-opportunity-list">
						<i class="bx bx-right-arrow-alt"></i>Opportunity List</a>
				</li>
			</ul>
			<ul>
				<li><a href="/admin-vw-opps-app-list"><i class="bx bx-right-arrow-alt"></i>Applications</a></li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-menu"></i>
				</div>
				<div class="menu-title">Website</div>
			</a>
			<ul>
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>Home</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Tiles</a>
							<ul>
								<li><a href="/admin-vw-upload-tiles"><i class="bx bx-right-arrow-alt"></i>Upload</a></li>
							</ul>
							<ul>
								<li><a href="/admin-vw-manage-tiles"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Why Choose</a>
							<ul>
								<li><a href="/admin-vw-manage-why-choose"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Coach Of the Week</a>
							<ul>
								<li><a href="/admin-vw-manage-cow"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Gallery</a>
							<ul>
								<li><a href="/admin-vw-upload-gallery"><i class="bx bx-right-arrow-alt"></i>Upload</a></li>
							</ul>
							<ul>
								<li><a href="/admin-vw-manage-gallery"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>About</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Our Story</a>
							<ul>
								<li><a href="/admin-vw-cms-about-us"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Mission</a>
							<ul>
								<li><a href="/admin-vw-cms-mission"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li class="hide-me">
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Core Values</a>
							<ul>
								<li><a href="/admin-vw-cms-values"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Core Values</a>
							<ul>
								<li><a href="/admin-vw-cms-values"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>Support</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>FAQs</a>
							<ul>
								<li><a href="/admin-vw-cms-faq"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Health and Safety</a>
							<ul>
								<li><a href="/admin-vw-cms-hes"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>Community</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Personal Coaching</a>
							<ul>
								<li><a href="/admin-vw-cms-personal-coaching"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
								{# <li><a href="javascript:;"><i class="bx bx-right-arrow-alt hide-me"></i>Applications</a></li> #}
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Client Experiences</a>
							<ul>
								<li><a href="/admin-vw-cms-manage-testimonial"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>Events</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Upcoming Events</a>
							<ul>
								<li><a href="/admin-vw-cms-content"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
								{# <li><a href="javascript:;"><i class="bx bx-right-arrow-alt hide-me"></i>Applications</a></li> #}
							</ul>
						</li>
					</ul>
				</li>
				
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>Parent Guide</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Parent Guide</a>
							<ul>
								<li><a href="/admin-vw-client-guide"><i class="bx bx-right-arrow-alt"></i>Manage</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>

		{# <li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-menu"></i>
				</div>
				<div class="menu-title">Website</div>
			</a>
			<ul>
				<li>
					<a class="has-arrow" href="javascript:;">
						<i class="bx bx-right-arrow-alt"></i>Home</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<i class="bx bx-right-arrow-alt"></i>Level Two</a>
							<ul>
								<li><a href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level Three</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li> #}

		<li class="menu-label">Payments</li>
		<li>
			<a href="#">
				<div class="parent-icon">
					<i class="bx bx-money"></i>
				</div>
				<div class="menu-title">Payment History</div>
			</a>
		</li>


		{# <li class="menu-label">Audits</li>
		<li>
			<a href="#">
				<div class="parent-icon">
					<i class='bx bx-log-in-circle'></i>
				</div>
				<div class="menu-title">Audit Logs</div>
			</a>
		</li> #}
	</ul>
	<!--end navigation-->
</div>
